html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toastify {
  position: absolute;
  top: 0rem;
  right: 19rem;
  z-index: 99;
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
}


/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;