html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toastify {
  position: fixed;
  top: 88px;
  right: 0;
  bottom: auto;
  z-index: 9999;
  transition: height 0.5s;
}

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;